
@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
body {
  margin: 0; 
  padding: 0; 
  background: #333; 
  color: white; 
  font-family: 'Press Start 2P', sans-serif; 
  text-align: center; 
  text-transform: uppercase; 
  background-color: black;
  }
  .press-to-play {
    padding:.3rem 1.5rem;
    border: 2px solid white;
    background-color: transparent;
    display: inline-block;
    color: white;
    white-space:nowrap;
  }