
@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
body {
  margin: 0; 
  padding: 0; 
  background: #333; 
  color: white; 
  font-family: 'Press Start 2P', sans-serif; 
  text-align: center; 
  text-transform: uppercase; 
  background-color: black;
  }
  .press-to-play {
    width: 200px;
    height: 200px;
    border: 2px solid white;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
  }