body{
  background-color: #231C07;
}
img {
    height:30px;
}

h1 {
 color: rgba(158,24,31,255)
}

li {
    list-style: none;
    padding-top: 40px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


  .space-invader { 
    border: 2px solid #fff;
    background-color: #fff;
    float: left;
    margin-right: 50px;
}
 
  
  .space-invader-1 {
    box-shadow:
      0 0 0 .25em #fff,
      0 .25em 0 .25em #fff,
      -.625em .375em 0 .125em #fff,
      .625em .375em 0 .125em #fff,
      -.75em -.75em 0 0 #fff,
      .75em -.75em 0 0 #fff,
      -.5em -.5em 0 0 #fff,
      .5em -.5em 0 0 #fff,
      -.75em -.25em 0 0 #fff,
      -.5em -.25em 0 0 #fff,
      .5em -.25em 0 0 #fff,
      .75em -.25em 0 0 #fff,
      -1em 0 0 0 #fff,
      -.75em 0 0 0 #fff,
      .75em 0 0 0 #fff,
      1em 0 0 0 #fff,
      -1em .25em 0 0 #fff,
      1em .25em 0 0 #fff,
      -.75em .75em 0 0 #fff,
      .75em .75em 0 0 #fff,
      /* Left Arm */
      1.25em .25em 0 0 #fff,
      1.25em .5em 0 0 #fff,
      1.25em .75em 0 0 #fff,
      /* Right Arm */
      -1.25em .25em 0 0 #fff,
      -1.25em .5em 0 0 #fff,
      -1.25em .75em 0 0 #fff,
      /* Left Foot */
      -.25em 1em 0 0 #fff,
      -.5em 1em 0 0 #fff,
      /* Right Foot */
      .25em 1em 0 0 #fff,
      .5em 1em 0 0 #fff;
  }
  .space-invader-2 { 
    box-shadow: 
      /* Body */
      -.125em -.5em 0 .25em #fff,
      .125em -.5em 0 .25em #fff,
      -.75em -.375em 0 .125em #fff,
      -.875em -.375em 0 .125em #fff,
      .75em -.375em 0 .125em #fff,
      .875em -.375em 0 .125em #fff,
      -1em 0 0 .25em #fff,
      1em 0 0 .25em #fff,
      -.5em .25em 0 0 #fff,
      -.25em .25em 0 0 #fff,
      0 .25em 0 0 #fff,
      .25em .25em 0 0 #fff,
      .5em .25em 0 0 #fff,
      /* Crotch */
      .3125em .5em 0 0 #fff,
      .5em .5em 0 0 #fff,
      .5em .5em 0 0 #fff,
      -.3125em .5em 0 0 #fff,
      -.5em .5em 0 0 #fff,
      -.5em .5em 0 0 #fff,
      .0625em .75em 0 0 #fff,
      -.0625em .75em 0 0 #fff,
      /* Right Leg */
      -.625em .75em 0 0 #fff,
      -.8125em .75em 0 0 #fff,
      -1.0625em 1em 0 0 #fff,
      -1.25em 1em 0 0 #fff,
      /* Left Leg */
      .625em .75em 0 0 #fff,
      .8125em .75em 0 0 #fff,
      1.0625em 1em 0 0 #fff,
      1.25em 1em 0 0 #fff;
  }
  .space-invader-3 { 
    box-shadow: 
      /* Body */
      0 -.625em 0 .125em #fff,
      -.25em -.375em 0 .125em #fff,
      .25em -.375em 0 .125em #fff,
      .625em -.25em 0 0 #fff,
      -.625em -.25em 0 0 #fff,
      0 .125em 0 .125em #fff,
      -.75em .125em 0 .125em #fff,
      .75em .125em 0 .125em #fff,
      .375em .25em 0 0 #fff,
      -.375em .25em 0 0 #fff,
      /* Crotch */
      .125em .5em 0 0 #fff,
      -.125em .5em 0 0 #fff,
      /* Right Leg */
      -.625em .5em 0 0 #fff,
      -.875em .75em 0 0 #fff,
      -.625em 1em 0 0 #fff,
      -.625em 1em 0 0 #fff,
      /* Left Leg */
      .625em .5em 0 0 #fff,
      .875em .75em 0 0 #fff,
      .625em 1em 0 0 #fff,
      .625em 1em 0 0 #fff;
  }
  
  .space-invader.animate { 
    animation: 1s infinite;
  }
  .space-invader.classic { 
    animation: 1s step-end infinite;
  }
  .space-invader-1.animate,
  .space-invader-1.classic { 
    animation-name: space-invader-1;
  }
  .space-invader-2.animate,
  .space-invader-2.classic { 
    animation-name: space-invader-2;
  }
  .space-invader-3.animate,
  .space-invader-3.classic { 
    animation-name: space-invader-3;
  }
  
  @keyframes space-invader-1 {
    50% {
      box-shadow: 
        0 0 0 .25em #fff,
        0 .25em 0 .25em #fff,
        -.625em .375em 0 .125em #fff,
        .625em .375em 0 .125em #fff,
        -.75em -.75em 0 0 #fff,
        .75em -.75em 0 0 #fff,
        -.5em -.5em 0 0 #fff,
        .5em -.5em 0 0 #fff,
        -.75em -.25em 0 0 #fff,
        -.5em -.25em 0 0 #fff,
        .5em -.25em 0 0 #fff,
        .75em -.25em 0 0 #fff,
        -1em 0 0 0 #fff,
        -.75em 0 0 0 #fff,
        .75em 0 0 0 #fff,
        1em 0 0 0 #fff,
        -1em .25em 0 0 #fff,
        1em .25em 0 0 #fff,
        -.75em .75em 0 0 #fff,
        .75em .75em 0 0 #fff,
        /* Left Arm */
        1.25em 0 0 0 #fff,
        1.25em -.25em 0 0 #fff,
        1.25em -.5em 0 0 #fff,
        /* Right Arm */
        -1.25em 0 0 0 #fff, 
        -1.25em -.25em 0 0 #fff, 
        -1.25em -.5em 0 0 #fff, 
        /* Left Foot */
        -1em 1em 0 0 #fff, 
        -1em 1em 0 0 #fff, 
        /* Right Foot */
        1em 1em 0 0 #fff, 
        1em 1em 0 0 #fff;
    }
  }
  
  @keyframes space-invader-2 {
    50% {
      box-shadow: 
        /* Body */
        -.125em -.5em 0 .25em #fff,
        .125em -.5em 0 .25em #fff,
        -.75em -.375em 0 .125em #fff,
        -.875em -.375em 0 .125em #fff,
        .75em -.375em 0 .125em #fff,
        .875em -.375em 0 .125em #fff,
        -1em 0 0 .25em #fff,
        1em 0 0 .25em #fff,
        -.5em .25em 0 0 #fff,
        -.25em .25em 0 0 #fff,
        0 .25em 0 0 #fff,
        .25em .25em 0 0 #fff,
        .5em .25em 0 0 #fff,
        /* Crotch */
        .3125em .5em 0 0 #fff,
        .5em .5em 0 0 #fff,
        .625em .5em 0 0 #fff,
        -.3125em .5em 0 0 #fff,
        -.5em .5em 0 0 #fff,
        -.625em .5em 0 0 #fff,
        .0625em .75em 0 0 #fff,
        -.0625em .75em 0 0 #fff,
        /* Right Leg */
        -.75em .75em 0 0 #fff,
        -.9375em .75em 0 0 #fff,
        -.75em 1em 0 0 #fff,
        -.5em 1em 0 0 #fff,
        /* Left Leg */
        .75em .75em 0 0 #fff,
        .9375em .75em 0 0 #fff,
        .75em 1em 0 0 #fff,
        .5em 1em 0 0 #fff;
    }
  }
  
  @keyframes space-invader-3 {
    50% {
      box-shadow: 
      /* Body */
      0 -.625em 0 .125em #fff,
      -.25em -.375em 0 .125em #fff,
      .25em -.375em 0 .125em #fff,
      .625em -.25em 0 0 #fff,
      -.625em -.25em 0 0 #fff,
      0 .125em 0 .125em #fff,
      -.75em .125em 0 .125em #fff,
      .75em .125em 0 .125em #fff,
      .375em .25em 0 0 #fff,
      -.375em .25em 0 0 #fff,
        /* Crotch */
      .125em .5em 0 0 #fff,
      -.125em .5em 0 0 #fff,
        /* Right Leg */
        -.375em .5em 0 0 #fff,
        -.625em .75em 0 0 #fff,
        -.875em 1em 0 0 #fff,
        -.375em 1em 0 0 #fff,
        /* Left Leg */
        .375em .5em 0 0 #fff,
        .625em .75em 0 0 #fff,
        .875em 1em 0 0 #fff,
        .375em 1em 0 0 #fff;
    }
  }


  @keyframes flicker {
    0% {
      opacity: 0.27861;
    }
    5% {
      opacity: 0.34769;
    }
    10% {
      opacity: 0.23604;
    }
    15% {
      opacity: 0.90626;
    }
    20% {
      opacity: 0.18128;
    }
    25% {
      opacity: 0.83891;
    }
    30% {
      opacity: 0.65583;
    }
    35% {
      opacity: 0.67807;
    }
    40% {
      opacity: 0.26559;
    }
    45% {
      opacity: 0.84693;
    }
    50% {
      opacity: 0.96019;
    }
    55% {
      opacity: 0.08594;
    }
    60% {
      opacity: 0.20313;
    }
    65% {
      opacity: 0.71988;
    }
    70% {
      opacity: 0.53455;
    }
    75% {
      opacity: 0.37288;
    }
    80% {
      opacity: 0.71428;
    }
    85% {
      opacity: 0.70419;
    }
    90% {
      opacity: 0.7003;
    }
    95% {
      opacity: 0.36108;
    }
    100% {
      opacity: 0.24387;
    }
  }
  @keyframes textShadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    5% {
      text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    10% {
      text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    15% {
      text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    20% {
      text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    25% {
      text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    30% {
      text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    35% {
      text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    40% {
      text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    45% {
      text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    50% {
      text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    55% {
      text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    60% {
      text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    65% {
      text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    70% {
      text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    75% {
      text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    80% {
      text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    85% {
      text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    90% {
      text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    95% {
      text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    100% {
      text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
  }
  .crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
  }
  .crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 100% 100%;
    pointer-events: none;
  }
  .crt {
    animation: textShadow 1.6s infinite;
  }