    .projectContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .cardContainer {
      display: flex;
      justify-content: space-between;
    }

    .imgContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .cardIcon {
      height:60px
    }

   
    .img {
      height: 150px;
      border-radius: 10px;
    }
    .projectlinks {
      text-decoration: none;
      color:white;
      background-color:rgba(158,24,31,255);
      border:1px solid rgba(158,24,31,255);
      margin-inline: 1rem;
      padding:7px;
      border-radius: 10px;
    }
    p {
      font-size: small;
      letter-spacing: .2rem;
      line-height: 1.5rem;
    }
  
  
@media only screen and (max-width: 375px) {
    .cardContainer {
      flex-direction: column;
      align-items: center;
      height: auto;
    }

    .cardIcon {
      height:50px
    }
    .imgContainer {
        display: flex;
        flex-direction: column;
    }
  }

  @media only screen and (max-width: 650px) {

.linkcontainer {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
  }

  @media only screen and (max-width: 861px) {
    .cardContainer {
      flex-direction: column;
      align-items: center;
      height: auto;
      margin:1.5rem;
    }

    .cardIcon {
      height:50px
    }
    .imgContainer {
        display: flex;
        flex-direction: column;
        margin:1.5rem;
    }
  }