
.spacing {
    margin: 4rem;
}
.skillimg {
    height:100px;
    padding:2rem;
}

.white-background {
    background-color: white;
}

  @media only screen and (max-width: 861px) {
    .skillimg {
        height: 70px;
        padding: 1rem;
      }
      h1 {
          font-size: large;
      }
  }

  @media only screen and (max-width: 653px) {
    .skillimg {
        height: 60px;
        padding: 1rem;
      }
      h1 {
          font-size: large;
      }
  }
  @media only screen and (max-width: 453px) {
    .skillimg {
        height: 60px;
        padding: .5rem;
      }
      h1 {
          font-size: large;
      }
  }


 